<div class="columns">
  <form class="column is-6 is-offset-3">
    <h1 class="title">Contact us</h1>

    <label for="email" class="label">Email:</label>
    <div class="field">
      <div class="control">
        <input required email minlength="3" #emailRef="ngModel" [(ngModel)]="contact.email" name="email" id="email" type="email" class="input is-danger">
      </div>
    </div>
    <div class="help is-danger" *ngIf="emailRef.dirty && emailRef.invalid">
    <p *ngIf= "emailRef.errors.required">This is required</p>
    <p *ngIf= "emailRef.errors.minlength">Enter more characters</p>
    <!-- <pre>{{emailRef.errors | json}}</pre>
    <p class="help is-danger">Error</p> -->
  </div>


    <div class="field">
      <div class="control">
        <button class="button is-primary is-pulled-right">Send</button>
      </div>
    </div>
  </form>
</div>
