<div class="columns">
  <form  #formRef="ngForm"  class="column is-6 is-offset-3">
    <h1 class="title">Contact us</h1>


    <label for="email" class="label">Email:</label>
    <div class="field">
      <div class="control">
        <input required minlength="3" #emailRef="ngModel"
        [class.is-danger]="showErrors(emailRef)"
        [class.is-success]="emailRef.dirty && emailRef.valid"
        [(ngModel)]="contact.email" name="email" id="email" type="email" class="input">
        <!-- [class.is-danger]="{'is-danger': emailRef.dirty && emailRef.invalid}" -->
      </div>
    </div>
    <div class="help is-danger" *ngIf="emailRef.dirty && emailRef.invalid">
    <p *ngIf= "emailRef.errors.required">This is required</p>
    <p *ngIf= "emailRef.errors.minlength">Enter more characters</p>
    <!-- <pre>{{emailRef.errors | json}}</pre>
    <p class="help is-danger">Error</p> -->
  </div>

  <label for="email" class="label">Message:</label>
  <div class="field">
      <div class="control">
  <textarea name="message" id="message" class="message" class="textarea"
            minlength="5" #messageRef="ngModel"
            [class.is-danger]="showErrors(messageRef)"
            [class.is-success]="messageRef.dirty && messageRef.valid"
            [(ngModel)]="contact.message"></textarea>
          </div>
        </div>
            <p class ="help is-danger" *ngIf= "showErrors(messageRef) &&
            messageRef.errors.minlength">Enter more characters</p>

    <div class="field">
      <div class="control">
        <button [disabled]="formRef.invalid" class="button is-primary is-pulled-right">Send</button>
      </div>
    </div>
  </form>
</div>
