<div class="columns">
  <div class="column is-3">
    <h2 clas="subtitle">Bookmarks</h2>
    <div class="columns is-multiline">
    <tm-poster *ngFor="let bookmark of bookmark" [show]="bookmark" class="column is-6"></tm-poster>
  </div>
</div>

  <div class="column">
    <h2 clas="subtitle">Find shows</h2>
    <form class="field has-addons" [formGroup]="searchForm">
      <div class="contol">
        <!-- <input #queryRef type="text" class="input"> -->
        <!-- dodalismy formControlName oraz wyzej  formGroup, usunelismy ponizej  [(ngModel)]="query" -->
        <input formControlName="query"  name="query" type="search" class="input">
      </div>
      <div class="control">
        <!-- <button class="button is-primary" (click)="search(queryRef.value)">Search</button> -->
        <button class="button is-primary" (click)="search(searchForm.controls.query.value)">Search</button>
      </div>
    </form>

    <!--<pre>{{shows | json }}</pre>-->
    <div class="columns is-multiline">
      <div class="column is-4" *ngFor="let show of shows">
          <!-- class="bookmarked" dodanie wstążki bookmarked na okladce -->
          <!-- [class.bookmarked]="isBookmarked(show)" -->
        <tm-poster [show]="show" size="lg" [tmIsBookmarked] = "show">
          <tm-bookmark-add [item]="show"></tm-bookmark-add>
          <tm-bookmark-remove [item]="show"></tm-bookmark-remove>
          <!-- przeniesienie przycisku do oddzielnych modeli
          <button class="button is-small is-primary" (click)="saveBookmark(show)"
            [disabled]="isBookmarked(show)">Save</button> -->

        </tm-poster>
        <!-- <h2 class="subtitle">{{show.name}}</h2>
      <img [src]="show.image.medium" alt=""> -->

      </div>
    </div>
  </div>
