<div class="columns">
  <tm-poster class="column is-3" [show]="show" size="lg"></tm-poster>
  <div class="column">
    <h1 class="title">{{show?.name}}</h1>
    <section [innerHTML]="show?.summary"></section>




    <table class="table">
      <thead>
          <tr>
            <th>Episode nr</th>
            <th>Name</th>
            <th>Air time</th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let episode of show?._embedded.episodes">
            <td>{{episode | episodise: episodeLength}}</td>
            <td>{{episode.name}}</td>
            <td>{{episode.airdate}}</td>
          </tr>
        </tbody>
    </table>

</div>
</div>
